{% load staticfiles %}
{% load static %}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!-- The above 3 meta tags *must* come first in the head -->

    <!-- SITE TITLE -->
    <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
    <meta name="description" content="Ghana Data Science Summit"/>
    <meta name="keywords" content="Summit, Event,  Conference, Meetup, Data Science, AI"/>
    <meta name="author" content="Ghana Data Science Summit"/>

    <!-- twitter card starts from here, if you don't need remove this section -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@yourtwitterusername"/>
    <meta name="twitter:creator" content="@yourtwitterusername"/>
    <meta name="twitter:url" content="http://yourdomain.com"/>
    <meta name="twitter:title" content="Your home page title, max 140 char"/>
    <!-- maximum 140 char -->
    <meta name="twitter:description" content="Your site description, maximum 140 char "/>
    <!-- maximum 140 char -->
    <meta name="twitter:image" content="{% static 'assets/img/twittercardimg/twittercard-280-150.jpg' %}"/>
    <!-- when you post this page url in twitter , this image will be shown -->
    <!-- twitter card ends from here -->

    <!-- facebook open graph starts from here, if you don't need then delete open graph related  -->
    <meta property="og:title" content="Your home page title"/>
    <meta property="og:url" content="http://your domain here.com"/>
    <meta property="og:locale" content="en_US"/>
    <meta property="og:site_name" content="Your site name here"/>
    <!--meta property="fb:admins" content="" /-->  <!-- use this if you have  -->
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="{% static 'assets/img/opengraph/fbphoto.jpg' %}"/>
    <!-- when you post this page url in facebook , this image will be shown -->
    <!-- facebook open graph ends from here -->

    <!--  FAVICON AND TOUCH ICONS -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.png' %}"/>
    <!-- this icon shows in browser toolbar -->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon.png' %}"/>
    <!-- this icon shows in browser toolbar -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'assets/img/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'assets/img/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/img/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/img/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'assets/img/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'assets/img/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'assets/img/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'assets/img/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'assets/img/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/img/favicon/manifest.json' %}">

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="{% static 'assets/libs/bootstrap/css/bootstrap.min.css' %}" media="all"/>

    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="{% static 'assets/libs/fontawesome/css/font-awesome.min.css' %}" media="all"/>

    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="{% static 'assets/libs/maginificpopup/magnific-popup.css' %}" media="all"/>

    <!-- Time Circle -->
    <link rel="stylesheet" href="{% static 'assets/libs/timer/TimeCircles.css' %}" media="all"/>

    <!-- OWL CAROUSEL CSS -->
    <link rel="stylesheet" href="{% static 'assets/libs/owlcarousel/owl.carousel.min.css' %}" media="all" />
    <link rel="stylesheet" href="{% static 'assets/libs/owlcarousel/owl.theme.default.min.css' %}" media="all" />

    <!-- GOOGLE FONT -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oswald:400,700%7cRaleway:300,400,400i,500,600,700,900"/>

    <!-- MASTER  STYLESHEET  -->
    <link id="lgx-master-style" rel="stylesheet" href="{% static 'assets/css/style-default.min.css' %}" media="all"/>

    <!-- MODERNIZER CSS  -->
    <script src="{% static 'assets/js/vendor/modernizr-2.8.3.min.js' %}"></script>
</head>





<body class="home">

<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div class="lgx-container ">
<!-- ***  ADD YOUR SITE CONTENT HERE *** -->

{% include 'navbarO.html' %}


<!-- Body -->
{% block content %}

{% endblock %}
<!-- /Body -->


</div>
<!--//.LGX SITE CONTAINER-->
<!-- *** ADD YOUR SITE SCRIPT HERE *** -->
<!-- JQUERY  -->
<script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>

<!-- BOOTSTRAP JS  -->
<script src="{% static 'assets/libs/bootstrap/js/bootstrap.min.js' %}"></script>

<!-- Smooth Scroll  -->
<script src="{% static 'assets/libs/jquery.smooth-scroll.js' %}"></script>

<!-- SKILLS SCRIPT  -->
<script src="{% static 'assets/libs/jquery.validate.js' %}"></script>

<!-- if load google maps then load this api, change api key as it may expire for limit cross as this is provided with any theme -->
<script type="text/javascript" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3970.4224203597933!2d-0.18931440039778802!3d5.651869600000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf9c7ddc57a337%3A0x9776463e0a3cbd1!2sBank%20Of%20Ghana%20Auditorium!5e0!3m2!1sen!2sgh!4v1578945458782!5m2!1sen!2sgh"></script>

<!-- CUSTOM GOOGLE MAP -->
<script type="text/javascript" src="{% static 'assets/libs/gmap/jquery.googlemap.js' %}"></script>

<!-- adding magnific popup js library -->
<script type="text/javascript" src="{% static 'assets/libs/maginificpopup/jquery.magnific-popup.min.js' %}"></script>

<!-- Owl Carousel  -->
<script src="{% static 'assets/libs/owlcarousel/owl.carousel.min.js' %}"></script>

<!-- COUNTDOWN   -->
<script src="{% static 'assets/libs/countdown.js' %}"></script>
<script src="{% static 'assets/libs/timer/TimeCircles.js' %}"></script>

<!-- Counter JS -->
<script src="{% static 'assets/libs/waypoints.min.js' %}"></script>
<script src="{% static 'assets/libs/counterup/jquery.counterup.min.js' %}"></script>

<!-- SMOTH SCROLL -->
<script src="{% static 'assets/libs/jquery.smooth-scroll.min.js' %}"></script>
<script src="{% static 'assets/libs/jquery.easing.min.js' %}"></script>

<!-- type js -->
<script src="{% static 'assets/libs/typed/typed.min.js' %}"></script>

<!-- header parallax js -->
<script src="{% static 'assets/libs/header-parallax.js' %}"></script>

<!-- instafeed js -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/instafeed.js/1.4.1/instafeed.min.js' %}"></script>-->
<script src="{% static 'assets/libs/instafeed.min.js' %}"></script>

<!-- CUSTOM SCRIPT  -->
<script src="{% static 'assets/js/custom.script.js' %}"></script>







</body>
</html>
