{% extends "base.html" %}
{% load i18n static %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "FAQs | Ghana Data Science Summit" %}{% endif %}{% endblock %}


{% block content %}


    <!--Banner Inner-->
    <section>
        <div class="lgx-banner lgx-banner-inner">
            <div class="lgx-page-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="lgx-heading-area">
                                <div class="lgx-heading lgx-heading-white">
                                    <h2 class="heading">FAQs</h2>
                                </div>
                                <ul class="breadcrumb">
                                    <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                                    <li class="active">FAQs</li>
                                </ul>
                            </div>
                        </div>
                    </div><!--//.ROW-->
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section> <!--//.Banner Inner-->


    <main>
        
<section>
    <div id="lgx-schedule" class="lgx-schedule">
        <div class="lgx-inner">
            <div class="container" >
                <div class="row">
                    <div class="col-xs-12">
                        <div class="lgx-heading lgx-heading-white">
                            <h2 class="heading">frequently asked questions </h2>
                        </div>
                    </div>
                </div>
                <div class="row"  >
                    <div class="col-xs-12">
                        <div class="lgx-tab">
                            <div class="tab-content ">

                                    <div id="home" class="tab-pane fade in active">

                                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                            <div class="panel panel-default lgx-panel">
                                                <div class="panel-heading" role="tab" id="headingOne">
                                                    <div class="panel-title">
                                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                            <div class="lgx-single-schedule">
                                                                <div class="schedule-info">
                                                                    <h3 class="title">Who are the organizers of the conference?</h3>
                                                                    </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="panel-body">
                                                        <p class="text">
                                                            The Data Science Network (DSN) is a team of data science and machine learning researchers and professionals committed to building capacity and promoting research and application of analytics (broadly defined) in Ghana.</p>
                                                            
                                                        </p>
                                                        <p class="text">
                                                            Our team is multifaceted and possesses wide-ranging skills and experiences in academia and industry in the areas of data management, business analytics, predictive modeling, artificial intelligence, and machine learning. Members of our team include professors, researchers (including students), statisticians, and data scientists and engineers (including machine learning engineers), working in several areas such as retail, finance, risk management, economics, health care, agriculture and many more.
                                                            </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel panel-default lgx-panel">
                                                <div class="panel-heading" role="tab" id="headingtwo">
                                                    <div class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsetwo" aria-expanded="true" aria-controls="collapsefive">
                                                            <div class="lgx-single-schedule">
                                                                <div class="schedule-info">
                                                                    <h3 class="title">Why is the Ghana Data Science Summit dubbed IndabaX Ghana?</h3>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="collapsetwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingtwo">
                                                    <div class="panel-body">
                                                        <p class="text">
                                                            This is because we have a partnership with Deep Learning Indaba for the maiden edition of the Ghana Data Science Summit 2020 to have a special focus on machine learning. You can learn more about Deep Learning Indaba <a href="https://twitter.com/DeepIndaba">HERE</a>. 
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel panel-default lgx-panel">
                                                <div class="panel-heading" role="tab" id="headingthree">
                                                    <div class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsethree" aria-expanded="true" aria-controls="collapsefive">
                                                            <div class="lgx-single-schedule">
                                                                <div class="schedule-info">
                                                                    <h3 class="title">What is the application deadline?</h3>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="collapsethree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingthree">
                                                    <div class="panel-body">
                                                        <p class="text">
                                                            The application deadline is April 7<sup>th</sup>, 2020 at 11:59 pm (GMT). Late applications will not be considered.</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel panel-default lgx-panel">
                                                <div class="panel-heading" role="tab" id="headingfour">
                                                    <div class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="true" aria-controls="collapsefive">
                                                            <div class="lgx-single-schedule">
                                                                <div class="schedule-info">
                                                                    <h3 class="title">When will I get notified of the outcome of my application?</h3>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="collapsefour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfour">
                                                    <div class="panel-body">
                                                        <p class="text">
                                                            All successful applications will be notified via email by 4<sup>th</sup> May, 2020</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel panel-default lgx-panel">
                                                <div class="panel-heading" role="tab" id="headingfive">
                                                    <div class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefive" aria-expanded="true" aria-controls="collapsefive">
                                                            <div class="lgx-single-schedule">
                                                                <div class="schedule-info">
                                                                    <h3 class="title">What qualifications are you looking for to be accepted into the Ghana Data Science Summit 2020?</h3>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="collapsefive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfive">
                                                    <div class="panel-body">
                                                        <p class="text">
                                                            Each application will be reviewed on its merit with due consideration given to interest in data science, prior experience, and academic background. </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel panel-default lgx-panel">
                                                <div class="panel-heading" role="tab" id="headingsix">
                                                    <div class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsesix" aria-expanded="true" aria-controls="collapsefive">
                                                            <div class="lgx-single-schedule">
                                                                <div class="schedule-info">
                                                                    <h3 class="title">Is there any type of travel or lodging funding provided for participants?</h3>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="collapsesix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingsix">
                                                    <div class="panel-body">
                                                        <p class="text">
                                                            Sorry, we currently do not have the funds to support travel or lodging.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel panel-default lgx-panel">
                                                <div class="panel-heading" role="tab" id="headingseven">
                                                    <div class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseseven" aria-expanded="true" aria-controls="collapsefive">
                                                            <div class="lgx-single-schedule">
                                                                <div class="schedule-info">
                                                                    <h3 class="title">I am not an expert at data science or machine learning. Should I apply?</h3>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="collapseseven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingseven">
                                                    <div class="panel-body">
                                                        <p class="text">
                                                            Yes! We welcome all applications from everyone regardless of prior expertise in data science. Each application is unique, so we examine all aspects of each application carefully.</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel panel-default lgx-panel">
                                                <div class="panel-heading" role="tab" id="headingeight">
                                                    <div class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseeight" aria-expanded="true" aria-controls="collapsefive">
                                                            <div class="lgx-single-schedule">
                                                                <div class="schedule-info">
                                                                    <h3 class="title">Am I guaranteed to attend the Ghana Data Science Summit 2020 if I apply?</h3>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="collapseeight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingeight">
                                                    <div class="panel-body">
                                                        <p class="text">
                                                            While we encourage everyone interested in data science to apply, we are unable to guarantee a place for each applicant. We will notify all applicants regarding the outcome of their application.   </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel panel-default lgx-panel">
                                                <div class="panel-heading" role="tab" id="headingnine">
                                                    <div class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsenine" aria-expanded="true" aria-controls="collapsefive">
                                                            <div class="lgx-single-schedule">
                                                                <div class="schedule-info">
                                                                    <h3 class="title">Will applicants be required to pay for this conference? </h3>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="collapsenine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                    <div class="panel-body">
                                                        <p class="text">
                                                            Generally, applicants would only be required to pay a Registration Fee. Note that this fee will be waived for a limited number of selected students. There are no other conference fees. 
                                                        </p>    
                                                        </div>
                                                </div>
                                            </div>

                                            <div class="panel panel-default lgx-panel">
                                                <div class="panel-heading" role="tab" id="headingten">
                                                    <div class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseten" aria-expanded="true" aria-controls="collapsefive">
                                                            <div class="lgx-single-schedule">
                                                                <div class="schedule-info">
                                                                    <h3 class="title">How much is the conference registration fees?</h3>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="collapseten" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                    <div class="panel-body">
                                                        <p class="text">
                                                            This depends on how many days you would be in attendance. Please refer to the instructions page of the application form for the fees.
                                                        </p>    
                                                        </div>
                                                </div>
                                            </div>

                                            <div class="panel panel-default lgx-panel">
                                                <div class="panel-heading" role="tab" id="headingeleven">
                                                    <div class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseeleven" aria-expanded="true" aria-controls="collapsefive">
                                                            <div class="lgx-single-schedule">
                                                                <div class="schedule-info">
                                                                    <h3 class="title">Why are participants required to pay a conference registration fee?</h3>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="collapseeleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                    <div class="panel-body">
                                                        <p class="text">
                                                            The registration fee is needed to reserve your spot so that we minimize the losses from absenteeism (when people do not show up, others on the waiting list miss their chance to be at our conference), and to provide conference materials such as name tags, conference brochure, certificate of participation, lunch, and water. The registration fee would be paid during the RSVP process for accepted applicants. Note that this fee will be waived for a limited number of selected students.
                                                        </p>
                                                        </div>
                                                </div>
                                            </div>

                                            <div class="panel panel-default lgx-panel">
                                                <div class="panel-heading" role="tab" id="headingtwelve">
                                                    <div class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsetwelve" aria-expanded="true" aria-controls="collapsefive">
                                                            <div class="lgx-single-schedule">
                                                                <div class="schedule-info">
                                                                    <h3 class="title">My question is not listed. How do I contact you?</h3>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="collapsetwelve" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                    <div class="panel-body">
                                                        <p class="text">
                                                            Please contact us at <a href="mailto:info@indabaxghana.com">info@indabaxghana.com</a> We look forward to hearing from you. </p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
    
                                    </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!--//.ROW-->
            </div>
            <!-- //.CONTAINER -->
        </div>
        <!-- //.INNER -->
    </div>
</section>
    </main>

    {% include 'footerO.html' %}

{% endblock %}