{% extends "base.html" %}
{% load i18n static %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Schedule | Ghana Data Science Summit" %}{% endif %}{% endblock %}


{% block content %}


    <!--Banner Inner-->
    <section>
        <div class="lgx-banner lgx-banner-inner">
            <div class="lgx-page-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="lgx-heading-area">
                                <div class="lgx-heading lgx-heading-white">
                                    <h2 class="heading">Event Schedule</h2>
                                </div>
                                <ul class="breadcrumb">
                                    <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                                    <li class="active">Schedule</li>
                                </ul>
                            </div>
                        </div>
                    </div><!--//.ROW-->
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section> <!--//.Banner Inner-->


    <main>
        <div class="lgx-page-wrapper">
            <!--SCHEDULE-->
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="lgx-tab lgx-tab-vertical">
                                <ul class="nav nav-pills lgx-nav lgx-nav-nogap lgx-nav-colorful">

                                    <li class="active"><a data-toggle="pill" href="#home"><h3>First <span>Day</span></h3> <p><span>29 </span>Nov, 2019</p></a></li>
                                    <li><a data-toggle="pill" href="#menu1"><h3>Second <span>Day</span></h3> <p><span>28 </span>Jul, 2019</p></a></li>
                               
                                </ul>
                                <div class="tab-content lgx-tab-content">

                                   
                                    <div id="home" class="tab-pane fade in active">
                                        {% for speakers in schedule_one %}
                                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                           
                                            <div class="panel panel-default lgx-panel">
                                                <div class="panel-heading" role="tab" id="headingOne">
                                                    <div class="panel-title">
                                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                            <div class="lgx-single-schedule">
                                                                <div class="author">
                                                                    <img src="http://placehold.it/800x800" alt="Speaker"/>
                                                                </div>
                                                                <div class="schedule-info">
                                                                    {{ speakers.start_time.time }} - {{ speakers.end_time.time }}
                                                                    <h4 class="time">09:00 <span>Am</span> - 10.30 <span>Am</span></h4>
                                                                    <h3 class="title">Wait is Over! Stony Brook Captures Conference</h3>
                                                                    <h4 class="author-info">By <span>{{ speakers.speaker.name }}</span> , Logichunt Inc.</h4>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="panel-body">
                                                        <p class="text">
                                                            Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia esse flexitarian Truffaut synth art party deep v chillwave.
                                                        </p>
                                                        <h4 class="location"><strong>Location:</strong>  Hall 1, Building A , Golden Street , <span>Southafrica</span> </h4>
                                                    </div>
                                                </div>
                                            </div>
                                        
                                        </div>
                                        {% endfor %}
                                    </div>
                                   


                                    <div id="menu1" class="tab-pane fade">

                                        <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
                                            <div class="panel panel-default lgx-panel">
                                                <div class="panel-heading" role="tab" id="headingOne2">
                                                    <div class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
                                                            <div class="lgx-single-schedule">
                                                                <div class="author author-multi">
                                                                    <img src="http://placehold.it/800x800" alt="Speaker"/>
                                                                    <img src="http://placehold.it/800x800" alt="Speaker"/>
                                                                    <img src="http://placehold.it/800x800" alt="Speaker"/>
                                                                </div>
                                                                <div class="schedule-info">
                                                                    <h4 class="time">09:00 <span>Am</span> - 10.30 <span>Am</span></h4>
                                                                    <h3 class="title">The Wait is Over! Stony Brook Captures First Conference Title</h3>
                                                                    <h4 class="author-info">By <span>Joanna Smith</span> , <span>Riaz Sagar</span> & <span>Devid Smith</span> , Design Apple</h4>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="collapseOne2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="panel-body">
                                                        <p class="text">
                                                            Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia esse flexitarian Truffaut synth art party deep v chillwave.
                                                        </p>
                                                        <h4 class="location"><strong>Location:</strong>  Hall 1, Building A , Golden Street , <span>Southafrica</span> </h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default lgx-panel">
                                                <div class="panel-heading" role="tab" id="headingTwo2">
                                                    <div class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo2" aria-expanded="true" aria-controls="collapseTwo2">
                                                            <div class="lgx-single-schedule">
                                                                <div class="author">
                                                                    <img src="http://placehold.it/800x800" alt="Speaker"/>
                                                                </div>
                                                                <div class="schedule-info">
                                                                    <h4 class="time">09:00 <span>Am</span> - 10.30 <span>Am</span></h4>
                                                                    <h3 class="title">Digital World Event Introduction</h3>
                                                                    <h4 class="author-info">By <span>Joanna Smith</span> , Design Apple</h4>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="collapseTwo2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                    <div class="panel-body">
                                                        <p class="text">
                                                            Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia esse flexitarian Truffaut synth art party deep v chillwave.
                                                        </p>
                                                        <h4 class="location"><strong>Location:</strong>  Hall 1, Building A , Golden Street , <span>Southafrica</span> </h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default lgx-panel">
                                                <div class="panel-heading" role="tab" id="headingThree2">
                                                    <div class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree2" aria-expanded="true" aria-controls="collapseThree2">
                                                            <div class="lgx-single-schedule">
                                                                <div class="author">
                                                                    <img src="http://placehold.it/800x800" alt="Speaker"/>
                                                                </div>
                                                                <div class="schedule-info">
                                                                    <h4 class="time">09:00 <span>Am</span> - 10.30 <span>Am</span></h4>
                                                                    <h3 class="title">Digital World Event Introduction</h3>
                                                                    <h4 class="author-info">By <span>Joanna Smith</span> , Design Apple</h4>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="collapseThree2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                    <div class="panel-body">
                                                        <p class="text">
                                                            Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia esse flexitarian Truffaut synth art party deep v chillwave.
                                                        </p>
                                                        <h4 class="location"><strong>Location:</strong>  Hall 1, Building A , Golden Street , <span>Southafrica</span> </h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <!--//.ROW-->
                </div>
                <!-- //.CONTAINER -->
            </section>
            <!--SCHEDULE END-->
        </div>
    </main>



{% include 'footerO.html' %}

{% endblock %}