<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
  <!--Meta tags-->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Change Title and Meta tags-->
  <title>
      Our Blog | 2piRi™
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  
  <!-- Favicon -->
  <link rel="icon" href="{%static 'img/favicon.png' %}">
  <!-- Plugins CSS -->
  <link rel="stylesheet" type="text/css" href="{%static 'css/neplugins.css' %}">
  <!-- Our Min CSS -->
    
  <link rel='stylesheet' type="text/css" href="{%static 'css/nestyles.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{%static 'css/color/style7.css' %}" id="colors">
  
<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/5dc96f8ed96992700fc6e375/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
</head>

<body>

<div class="page">
  

  
  
  <!-- Start Nav Section -->
  <nav id="main-nav" class="nav-down">
    
    <div id="nav-color" class="gradient-color"></div>
    
    <div class="nav-wrapper">
      
      <!-- Add your Logo and Name here -->
      <a class="brand-logo design-font waves-effect waves-light no-bg flex-cent" href="/">
        <img class="responsive-img title" src="https://res.cloudinary.com/twopiri/image/upload/v1557010522/mawy/2piRi.png" alt="">
      </a>
      
      <!-- Main Menu Content -->
      <ul class="right">
        
        <li>
          <!--Main Menu Social Icons-->
          <div class="fixed-action-btn click-to-toggle">
            
            <a class="btn-floating btn-large waves-effect waves-light grey darken-4">
              <div class="ham-cont">
                <div class="very_small_hamburger" id="social-hamburger">
                  <svg viewBox="0 0 800 600">
                    <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200"
                          class="top"></path>
                    <path d="M300,320 L540,320" class="middle"></path>
                    <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190"
                          class="bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
                  </svg>
                </div>
              </div>
            </a>
            
            <ul>
              
              <!-- Facebook Link -->
              <li>
                <a class="btn-floating waves-effect waves-light blue" href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              
              <!-- Twitter Link -->
              <li>
                <a class="btn-floating waves-effect waves-light light-blue lighten-2" href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              
              <!-- Instagram Link -->
              <li>
                <a class="btn-floating waves-effect waves-light amber darken-3" href="#">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
              
              <!-- Youtube Link -->
              <li>
                <a class="btn-floating waves-effect waves-light red" href="#">
                  <i class="fa fa-youtube"></i>
                </a>
              </li>
            
            </ul>
          
          </div>
        
        </li>
      
      </ul>
    
    </div>
  
  </nav>
  <!-- End Nav Section-->
  
  {%block content%}
  {%endblock%}
  
</div>

<!-- Footer Area -->
<br><br>
<section class="elements-footer main-section footer-style-5 center-align"
style="background: url('https://res.cloudinary.com/twopiri/image/upload/v1570807115/mawy/footer.jpg'); background-size: cover">

<div class="footer-content left-align">

<div class="container">

<div class="row footer-content">

<div class="col s12 l4">
 
 <div class="logo-container">
   <!-- Your Logo -->
   <img class="responsive-img logo" src="https://res.cloudinary.com/twopiri/image/upload/v1570802991/Pages/tim/img/logo.png" alt="logo image">
    </div>
 
 <!-- Your Info -->
 <p class="left-align">At 2Pi Real Intelligence, our mission is to rethink how technology is used as a prime driver for growth and development in any environment

</p>
</div>

<div class="col s12 m3 l2">
 <hr class="purple accent-2">
 <h6 class="upper-case white-text m-t-1">About us</h6>
 <a href="/About">Our team</a>
 <a href="/About">Company</a>
 <a href="#">Jobs</a>
</div>

<div class="col s12 m3 l2">
 <hr class="cyan accent-3">
 <h6 class="upper-case white-text m-t-1">Help center</h6>
 <a href="/Privacy_Policy">Privacy Policy</a>
 <a href="/News">News</a>
</div>

<div class="col s12 m3 l2">
 <hr class="yellow darken-2">
 <h6 class="upper-case white-text m-t-1">Products</h6>
 <a href="/Elon">Elon</a>
 <a href=""> </a>
 <a href=""> </a>
</div>

<div class="col s12 m3 l2">
 <hr class="blue darken-2">
 <h6 class="upper-case white-text m-t-1">Get in touch</h6>
 <a href="/Contact-us">Contact us</a>
 <a href="/Demo">Request a demo</a>
 <a href="tel:+233546998280">+233 546-998-280</a>
</div>

</div>

</div>

</div>

</section>

<!-- END Footer Area -->
<!--Back to top button-->
<a href="#0" class="cd-top js-cd-top waves-effect waves-circle gradient-color hoverable"><i
        class="fa fa-chevron-up"></i></a>


<!-- jQuery - and plugins JS files -->
<script src="{%static 'js/plugins.js' %}"></script>
<script src="{%static 'js/contact-form.js' %}"></script>
<!-- Our Main JS -->
<script src="{%static 'js/main.js' %}"></script>

</body>

</html>


