{% extends "base.html" %}
{% load i18n static %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Resources | Ghana Data Science Summit" %}{% endif %}{% endblock %}


{% block content %}


    <!--Banner Inner-->
    <section>
        <div class="lgx-banner lgx-banner-inner">
            <div class="lgx-page-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="lgx-heading-area">
                                <div class="lgx-heading lgx-heading-white">
                                    <h2 class="heading">Resources</h2>
                                </div>
                                <ul class="breadcrumb">
                                    <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                                    <li class="active">Resources</li>
                                </ul>
                            </div>
                        </div>
                    </div><!--//.ROW-->
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section> <!--//.Banner Inner-->


    <main>
        <div class="lgx-page-wrapper">
            <!--News-->
            <section>
                <div class="container">

<div class="section-btn-area">

    <a class="lgx-btn lgx-btn-red lgx-scroll" href="/resources">Slides</a>
    <a class="lgx-btn" href="/resources/photos">Photos</a>
    <a class="lgx-btn lgx-btn-red lgx-scroll active" href="/resources/videos">Videos</a>
</div><br>
                            <h2 class="heading">Videos</h2>
                    <div class="row">
                        {% for video in videos %}

                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="lgx-single-news">
                                <figure>
                                    <iframe width="550" height="330" src="{{ video.video_youtube_url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </figure>
                                <h5>{{ video.video_title|truncatechars:50 }}</h5>
                            </div>
                        </div>

                    {% endfor %}
                    </div>
                </div><!-- //.CONTAINER -->
            </section>
            <!--News END-->
        </div>
    </main>

    {% include 'footerO.html' %}

{% endblock %}